.chats {
    max-width: 700px;
    overflow-y: scroll;
    padding: 8rem;
    scrollbar-width: none;

}

.app.light .chats {
    color: #222;
}

@media (max-width: 1024px) {
    .chats {
        padding: 4rem 2rem;
        max-width: 90%;
    }
}

@media (max-width: 768px) {
    .chats {
        padding: 2rem 1rem;
        max-width: 95%;
    }
}


.userDiv {
    display: flex;
    justify-content: flex-end;
    font-size: 0.9rem;

}


.gptDiv {
    text-align: left;
    font-size: 0.9rem;

}


.userMessage {
    background-color: #323232;
    padding: 10px 20px;
    border-radius: 14px;
    margin-left: 15rem;
    max-width: 500px;
    width: fit-content;


}

.app.light .userMessage {
    background-color: #e0e0e0;
    color: #222;
}

@media (max-width: 1024px) {
    .userMessage {
        margin-left: 8rem;
        max-width: 80%;
    }
}

@media (max-width: 768px) {
    .userMessage {
        margin-left: 0;
        max-width: 95%;
    }
}

.hljs {
    border-radius: 14px !important;
}

.app.light .hljs {
    background-color: #f0f0f0 !important;
    color: #222 !important;
}

pre {
    white-space: pre-wrap;
}

.app.light pre {
    background-color: #f0f0f0;
    color: #222;
}


.chat-start {
    transform: translateY(195px);
}

.brandText strong{
    font-size: 1.2rem;
    /* text-align: start; */
}

.brandText  strong img{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    object-fit: cover;
}
